<template>
  <section>
    <h3>5章 オブジェクト指向エクササイズ</h3>

    <div class="content">
      <ul>
        <li>1 つのメソッドのつきインデントは 1 段階までにすること</li>
        <li>else 句を使用しないこと</li>
        <li><strong>全てのプリミティブ型と文字列型をラップすること</strong></li>
        <li>1 行につきドットは 1 までにすること</li>
        <li>名前を省略しないこと</li>
        <li>すべてのエンティティを小さくすること</li>
        <li>1 つのクラスにつきインスタンス変数は 2 つまでにすること</li>
        <li>ファーストクラスコレクションを使用すること</li>
        <li>Getter、Setter、プロパティを使用しないこと</li>
      </ul>
    </div>
  </section>
</template>

<script>
export default {
  name: 'ObjectOrientedExercise',
};
</script>

<style scoped>
  .content {
    font-size: 80%;
  }
</style>
