<template>
  <section>
    <h3>コード</h3>

    <div class="codes">
      <highlight-code lang="csharp">
        public struct FirstName
        {
          public FirstName(string value)
          {
            _value = value;
          }

          public string ToString()
          {
            return _value;
          }
        }
      </highlight-code>

      <highlight-code lang="csharp">
        public struct LastName
        {
          public LastName(string value)
          {
            _value = value;
          }

          public string ToString()
          {
            return _value;
          }
        }
      </highlight-code>

      <!-- eslint-disable -->
      <highlight-code lang="csharp" class="personal-name">
        public struct PersonalName
        {
          public PersonalName(FirstName firstName, LastName lastName)
          {
            FirstName = firstName;
            LastName = lastName;
          }

          public FirstName FirstName { get; }
          public LastName LastName { get; }

          public string ToString()
          {
            return $"{LastName}　{FirstName}";
          }
        }
      </highlight-code>
    </div>
  </section>
</template>

<script>
export default {
  name: 'PersonalNameCode1',
};
</script>

<style scoped>
  .codes {
    font-size: 75%;
    display: grid;
  }

  .personal-name {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
  }
</style>
