<template>
  <section>
    <h3>コード (ミドルネーム付き)</h3>

    <div class="codes">
      <highlight-code lang="csharp">
        public struct MiddleName
        {
          public MiddleName(string value)
          {
            _value = value;
          }

          public string ToString()
          {
            return _value;
          }

          public bool IsEmpty => _value == null;
        }
      </highlight-code>

      <!-- eslint-disable -->
      <highlight-code lang="csharp" class="personal-name">
        public struct PersonalName
        {
          public PersonalName(FirstName firstName, LastName lastName,
                              MiddleName middleName = default(MiddleName))
          {
            FirstName = firstName;
            LastName = lastName;
            MiddleName = middleName;
          }

          /* ... */

          public string ToString()
          {
            if (MiddleName.IsEmpty) return $"{LastName}　{FirstName}";

            return $"{LastName}　{FirstName}　{MiddleName}";
          }
        }
      </highlight-code>
    </div>
  </section>
</template>

<script>
export default {
  name: 'PersonalNameCode2',
};
</script>

<style scoped>
  .codes {
    font-size: 75%;
    display: flex;
  }
</style>
