<template>
  <section>
    <h3>プリミティブ型の問題2</h3>
    <h5>表示や入力のコードが散在する</h5>

    <div class="codes">
      <highlight-code lang="csharp">
        // A さんが書いたコード
        @((postalCode / 10000).ToString("D3"))-@((postalCode % 10000).ToString("D4"))
      </highlight-code>

      <highlight-code lang="csharp">
        // B さんが書いたコード
        @(
          (postalCode / 10000 % 1000).ToString("000") + "-" +
          (postalCode % 10000).ToString("0000")
        )
      </highlight-code>

      <highlight-code lang="csharp">
        // C さんが書いたコード
        @(postalCode.ToString().Substring(0, 3))-@(postalCode.ToString().Substring(3, 4))
      </highlight-code>
    </div>
  </section>
</template>

<script>
export default {
  name: 'PostalCodeCode2',
};
</script>

<style scoped>
.codes {
  font-size: 85%;
}
</style>
