<template>
  <section>
    <div class="codes">
      <highlight-code lang="csharp">
        public struct PostalCode
        {
          public PostalCode(int high, int low)
          {
            if (high &lt; 0 || high > 999) throw new ArgumentException();
            if (low &lt; 0 || low > 9999) throw new ArgumentException();

            _high = high;
            _low = low;
          }

          public override string ToString()
          {
            return $"{_high:D3}-{_low:D4}";
          }

          public static PostalCode Parse(string text)
          {
            // パースして郵便番号を返す
          }
        }
      </highlight-code>
    </div>
  </section>
</template>

<script>
export default {
  name: 'PostalCodeCode5',
};
</script>

<style scoped>
  .codes {
    font-size: 70%;
  }
</style>
