<template>
  <section>
    <h3>コード</h3>
    <div class="codes">
      <highlight-code lang="csharp" class="code1">
        public struct UnitPrice
        {
          public UnitPrice(decimal value)
          {
            _value = value;
          }

          public Price Multiple(Quantity quantity)
          {
            return new Price(_value * quantity.Value);
          }

          public override ToString()
          {
            return $"{_value:#,##.###} 円";
          }
        }
      </highlight-code>

      <highlight-code lang="csharp" class="code2">
        public struct Quantity
        {
          public Quantity(decimal value)
          {
            Value = value;
          }

          public override ToString()
          {
            return $"{_value:#,##.###} 個";
          }
        }
      </highlight-code>

      <highlight-code lang="csharp" class="code3">
        public struct Price
        {
          public Price(decimal value)
          {
            _value = value;
          }

          public override ToString()
          {
            return $"{_value:#,##.###} 円";
          }
        }
      </highlight-code>
    </div>
  </section>
</template>

<script>
export default {
  name: 'PriceCode1',
};
</script>

<style scoped>
  .codes {
    font-size: 80%;
    display: grid;
  }

  .code1 {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
  }

  .code2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }
</style>
