<template>
  <section>
    <h3>正しい実装</h3>

    <div class="codes">
      <highlight-code lang="csharp">
        public struct Quantity : IEquatable&lt;Quantity&gt; // HashSet&lt;T&gt; などで使われる
        {
          public Quantity(decimal value)
          {
            _value = value;
          }

          public Equals(Quantity other) // オートボクシングがかからない比較
          {
            return _value = other._value;
          }

          public override bool Equals(object obj)
          {
            if (ReferenceEquals(null, obj)) return false;
            return obj is Quantity other && Equals(other)
          }

          public override GetHashCode()
          {
            return _value;
          }
          // == のオーバーロードを実装するともっとよいかも
        }
      </highlight-code>
    </div>
  </section>
</template>

<script>
export default {
  name: 'ValueObjectCode2',
};
</script>

<style scoped>
  .codes {
    font-size: 60%;
  }
</style>
