<template>
  <section>
    <h3>こんな感じ (あくまで例ね)</h3>
    <div class="codes">
      <highlight-code lang="csharp">
        public struct PostalCode
        {
          private PostalCode(string value, bool isValid)
          {
            _value = value;
            IsValid = isValid;
          }

          public bool IsValid { get; }
          public bool IsEmpty => value == null;

          public override ToString()
          {
            if (IsEmpty) return string.Empty;

            return _value;
          }

          public PostalCode Parse(string code)
          {
            var match = Regex.Match(code.Trim(), @"^(\d\d\d)(-|)(\d\d\d\d)$");
            if (!match.Success) return new PostalCode(code, false);

            return new PostalCode($"{match.Groups[1].Value}-${match.Groups[3].Value}", true);
          }
        }
      </highlight-code>
    </div>
  </section>
</template>

<script>
export default {
  name: 'ValueObjectCode1',
};
</script>

<style scoped>
  .codes {
    font-size: 55%;
  }
</style>
