<template>
  <div class="reveal">
    <div class="slides">
      <section>
        <h1>Value Object と .NET 構造体</h1>
      </section>

      <section>
        <h3>自己紹介</h3>

        <table>
          <tr>
            <th>氏名</th>
            <td>政倉 智 (まさくら とも)</td>
          </tr>
          <tr>
            <th>所属</th>
            <td>codeArts 株式会社 / html5j 鹿児島</td>
          </tr>
          <tr>
            <th>趣味</th>
            <td>プログラミング / バイク / モータースポーツ / アニメ</td>
          </tr>
          <tr>
            <th>好きなもの</th>
            <td>C# / .NET Core</td>
          </tr>
        </table>
      </section>

      <section>
        <h3>ThoughtWorks アンソロジー</h3>
        <a href="https://www.oreilly.co.jp/books/9784873113890/">
          <img src="https://www.oreilly.co.jp/books/images/picture_large978-4-87311-389-0.jpeg">
        </a>
      </section>

      <object-oriented-exercise></object-oriented-exercise>

      <section>
        <h3>Value Object とは?</h3>
        <ul>
          <li>項目ごとに専用の型を作る</li>
          <li>郵便番号・誕生日・年齢・単価・数量・金額・住所・氏名・商品番号...</li>
          <li>仕様を織り込む</li>
        </ul>
      </section>

      <section>
        <h3>例を交えながらすすめます</h3>
      </section>

      <section>
        <h2>郵便番号 編</h2>
      </section>

      <section>

        <h3>郵便番号の仕様</h3>
        <ul>
          <li>定義: 三桁と四桁の数字の組み合わせ</li>
          <li>表示: 000-0000 のようにハイフンを入れる</li>
          <li>入力: 0000000 と 000-0000 のどちらもある</li>
        </ul>
      </section>

      <section>
        <h3>プリミティブ型の問題1</h3>
        <h5>型がばらつく</h5>

        <highlight-code lang="csharp">
          // A さんが書いたコード
          int postalCode = 0000000;
        </highlight-code>

        <highlight-code lang="csharp">
          // B さんが書いたコード
          string postalCode = "0000000";
        </highlight-code>

        <highlight-code lang="csharp">
          // C さんが書いたコード
          string postalCode = "000-0000";
        </highlight-code>
      </section>

      <postal-code-code2></postal-code-code2>

      <section>
        <h3>そうだ! ユーティリティクラスだ!</h3>
        <highlight-code lang="csharp">
          public static class Util
          {
            public static string GetPostalCodeString(int postalCode)
            {
              return (postalCode / 10000).ToString("D3") + "-" +
                (postalCode % 10000).ToString("D4");
            }
          }
        </highlight-code>
      </section>

      <section>
        <h3>汎用ユーティリティクラスの問題点</h3>

        <p>
          他のプロジェクトへの流用が難しい<br>
          <small>(責務がたくさんある)</small>
        </p>
      </section>

      <section>
        <h3>専用ユーティリティクラスにすれば!</h3>
        <highlight-code lang="csharp">
          public static class PostalCodeUtil
          {
            public static string GetString(int postalCode)
            {
              return (postalCode / 10000).ToString("D3") + "-" +
              (postalCode % 10000).ToString("D4");
            }
          }
        </highlight-code>
      </section>

      <section>
        <h3>専用ユーティリティクラスの問題点</h3>

        <p>存在を気が付かずに独自で実装する人が出てくる</p>
      </section>

      <section>
        <h3>Value Object で解決!</h3>
      </section>

      <postal-code-code5></postal-code-code5>

      <section>
        <h3>表示入力で気を使わなくて済む</h3>
        <highlight-code lang="csharp">
          // 表示
          // 誰が書いても同じ
          @postalCode
        </highlight-code>

        <highlight-code lang="csharp">
          // 入力
          // 誰が書いても同じ
          public IActionResult Save(string inputPostalCode)
          {
            var postalCode = PostalCode.Parse(inputPostalcode);
          }
        </highlight-code>
      </section>

      <section>
        <h3>Value Object のメリット</h3>
        <ul>
          <li>コードが散在しにくくなる</li>
          <li><strong>コードから仕様を読み取ることができる</strong></li>
        </ul>
      </section>

      <section>
        <h3>使いたくなってきませんか?</h3>
      </section>

      <section>
        <h3>もっと使いたくなる例を!</h3>
      </section>

      <section>
        <h3>氏名 編</h3>
        <p>
          <small>Value Object が複数の Value Object からなるパターン</small>
        </p>
      </section>

      <section>
        <h3>氏名の仕様</h3>
        <ul>
          <li>氏名は姓と名からなる</li>
          <li>姓と名は単独で使われることもある</li>
          <li>姓と名を氏名として表示するときは全角空白文字を間に入れる</li>
        </ul>
      </section>

      <personal-name-code1></personal-name-code1>

      <section>
        <h3>もし、ミドルネームが必要になったら?</h3>
      </section>

      <personal-name-code2></personal-name-code2>

      <section>
        <h3>氏名っていう概念が変わらなければ</h3>
        <ul>
          <li>氏名を表示しているところはあまり影響はない</li>
          <li>ミドルネームの入力や処理をするところは影響が</li>
          <li><strong>プリミティブ型より影響が少ない</strong></li>
          <li><strong>プリミティブ型と違って参照を探しやすい</strong></li>
        </ul>
      </section>

      <section>
        <h3>Value Object のメリット</h3>
        <ul>
          <li>コードが散在しにくくなる</li>
          <li>コードから仕様を読み取ることができる</li>
          <li><strong>仕様変更に強い</strong></li>
        </ul>
      </section>

      <section>
        <h3>生年月日 編</h3>
        <p>
          <small>ロジックを持つ Value Object の例</small>
        </p>
        <p>
          <small>(まあ、表示やパースもロジックなんだけど...)</small>
        </p>
      </section>

      <section>
        <h3>生年月日の仕様</h3>
        <ul>
          <li>生まれた年月日 (時刻を含まない)</li>
          <li>生年月日から年齢が分かる</li>
        </ul>
      </section>

      <section>
        <h3>コード</h3>
        <highlight-code lang="csharp">
          public struct Birthdate
          {
            Birthdate(DateTime value)
            {
              _value = value;
            }

            public int Age() {
              // ここで年齢を計算して返します
            }
          }
        </highlight-code>
        <p>
          <small>年齢を int 型にしているけど、こちらも Value Object の方がいい</small>
        </p>
      </section>

      <section>
        <h3>年齢ってどうやって求めるんだっけ</h3>
        <ul>
          <li>生年月日から現在までの日数を 365 で割る</li>
          <li>現在の年と生年月日の年の差</li>
          <li>...</li>
        </ul>
        <p>
          <small>結構面倒なんですよね</small>
        </p>
      </section>

      <section>
        <h3>正しくテストできますか?</h3>
        <ul>
          <li>うるう年考慮に入ってます?</li>
          <li>100 で割り切れる年はうるう年じゃないよ</li>
          <li>400 で割り切れる年はうるう年だよ</li>
          <li>年齢ってどの時点で一つ増えるんだっけ?</li>
        </ul>
        <p>
          <small>まあ、うるう年は 2/29 生まれでもなければ影響ないけどね...</small>
        </p>
      </section>

      <section>
        <h3>Value Object 化したことで</h3>
        <ul>
          <li>各プログラマーの独自実装を防げる</li>
          <li>確実に正しい処理になる</li>
        </ul>
      </section>

      <section>
        <h3>余談</h3>
        <p>生年月日ではこういうのも大事</p>
        <ul>
          <li>誕生月かどうか</li>
          <li>誕生日かどうか</li>
        </ul>
        <p>
          <small>誕生日・誕生月キャンペーンとかあるもんね</small>
        </p>
      </section>

      <section>
        <h3>コード</h3>
        <highlight-code lang="csharp">
          public struct Birthdate
          {
            /* ... */

            public bool IsBirthday()
            {
              // 誕生日かどうかを返す
            }

            public bool IsBirthmonth()
            {
              // 誕生月かどうかを返す
            }
          }
        </highlight-code>
      </section>

      <section>
        <h3>コード (あまりよくない例)</h3>
        <highlight-code lang="csharp">
          public struct Birthdate
          {
            /* ... */

            public int Month => /* 誕生月を返す */
          }
        </highlight-code>
        <highlight-code lang="csharp">
          // こういう条件式散在することになる...
          if (birthdate.Month == DateTime.Now.Month)
          {
            // 誕生月キャンペーンの処理
          }
        </highlight-code>
      </section>

      <section>
        <h3>とっても大切な同値</h3>
      </section>

      <section>
        <ul>
          <li>Value Object は同じ値は同じもの</li>
          <li>1974/9/30 と 1974/9/30 は同じ生年月日</li>
          <li>別の人の誕生日でも同じとして扱う</li>
          <li>(場合によっては大小もある)</li>
        </ul>
      </section>

      <section>
        <h3>プリミティブ型でのありがちな失敗</h3>
        <highlight-code lang="csharp">
          var birthdayA = new Date(1974, 9, 30);
          // B さんの生年月日に間違えて時刻が入っちゃった!
          var birthdayB = new Date(1974, 9, 30, 10, 0, 0);

          if (birthdayA == birthdayB)
          {
            // ここは通らない...
          }
        </highlight-code>
      </section>

      <section>
        <h3>Value Object ならば!</h3>
        <highlight-code lang="csharp">
          public struct Birthdate
          {
            public Birthdate(DateTime value)
            {
              // 時刻以下は切り捨てる
              _value = new DateTime(value.Year, value.Month, value.Day);
            }
          }
        </highlight-code>
        <highlight-code lang="csharp">
          var birthdateA = new Birthdate(new DateTime(1974, 9, 30));
          // B さんの生年月日に間違えて時刻が入っちゃった!
          var birthdateB = new Birthdate(new DateTime(1974, 9, 30, 10, 0, 0));

          if (birtydateA.Equals(birthdateB))
          {
            // ここを通る
          }
        </highlight-code>
        <p>
          <small>
            .NET 構造体は型とフィールドの値が一致してれば自動で等値
          </small>
        </p>
      </section>

      <section>
        <h3>Value Object のメリット</h3>
        <ul>
          <li>コードが散在しにくくなる</li>
          <li>コードから仕様を読み取ることができる</li>
          <li>仕様変更に強い</li>
          <li><strong>ロジックの利用を促せる</strong></li>
        </ul>
      </section>

      <section>
        <h3>単価・数量・金額 編</h3>
        <p><small>(Value Object どうしの計算のパターン)</small></p>
      </section>

      <section>
        <h3>単価・数量・金額の仕様</h3>
        <ul>
          <li>それぞれ数値</li>
          <li>浮動小数点誤差は認められない</li>
          <li>単価と数量を掛け合わせると金額になる</li>
        </ul>
      </section>

      <price-code1></price-code1>

      <section>
        <h3>コード (使う側)</h3>

        <highlight-code lang="csharp">
          var unitPrice = new UnitPrice(150);
          var quantity = new Quantity(12.3);

          Price price = unitPrice.Multiple(quantity);
        </highlight-code>
      </section>

      <section>
        <h3>プリミティブ型の方が楽なんじゃ?</h3>
      </section>

      <section>
        <h3>確かにそうなんだけど</h3>
      </section>

      <section>
        <h3>プリミティブ型は仕様通りにできない</h3>
      </section>

      <section>
        <h3>単価・数量・金額の仕様 (おさらい)</h3>
        <ul>
          <li>それぞれ数値</li>
          <li>浮動小数点誤差は認められない</li>
          <li>単価と数量を掛け合わせると金額になる</li>
        </ul>
      </section>

      <section>
        <h3>この仕様はちょっと足りてない</h3>
      </section>

      <section>
        <h3>単価・数量・金額の仕様 (おさらい)</h3>
        <ul>
          <li>それぞれ数値</li>
          <li>浮動小数点誤差は認められない</li>
          <li>単価と数量を掛け合わせると金額になる</li>
          <li><strong>上記以外ができてはならない</strong></li>
        </ul>
      </section>

      <section>
        <h3>できてはいけないことの例</h3>
        <ul>
          <li>単価同士をかける</li>
          <li>金額から単価を引く</li>
          <li>単価と数量を足す</li>
          <li>etc...</li>
        </ul>
      </section>

      <section>
        <h3>Value Object ではできない</h3>
      </section>

      <section>
        <h3>Value Object のメリット</h3>
        <ul>
          <li>コードが散在しにくくなる</li>
          <li>コードから仕様を読み取ることができる</li>
          <li>仕様変更に強い</li>
          <li>ロジックの利用を促せる</li>
          <li><strong>仕様外のコードを拒否できる</strong></li>
        </ul>
      </section>

      <section>
        <h3>Value Object の作り方</h3>
        <ul>
          <li>不変型</li>
          <li>同値とハッシュ値の計算を正しく実装する</li>
          <li>必要であれば大小関係を実装する</li>
          <li>関連するロジックを集める</li>
        </ul>
      </section>

      <section>
        <h2>Value Object と構造体</h2>
      </section>

      <section>
        <h3>構造体を使うメリット</h3>
        <ul>
          <li>同値やハッシュ値が自動で計算される</li>
          <li>
            スタックに積まれるので GC に負荷がかからない<br>
            <small>(小さい大量のオブジェクトはパフォーマンスの敵!)</small>
          </li>
        </ul>
      </section>

      <section>
        <h3>構造体を使うデメリット</h3>
        <ul>
          <li>継承ができないので、基底の実装を作れない</li>
          <li>デフォルトコンストラクタをいじれない</li>
          <li>null にできない (Nullable はあるけど...)</li>
          <li>オートボクシングがかかると...</li>
        </ul>
      </section>

      <section>
        <h3>むしろ null にできないのはメリット!</h3>
        <p>(null はバグの元!)</p>
      </section>

      <value-object-code1></value-object-code1>

      <section>
        <highlight-code lang="csharp">
          // 正しい郵便番号
          // a == b だし b == c
          var a = PostalCode.Parse("123-4567");
          var b = PostalCode.Parse("1234567");
          var c = PostalCode.Parse(" 1234567 ");

          // 正しくない
          var d = PostalCode.Parse("aaaa"); // aaaa と表示される

          // 空を有効な値にすること!
          var e = default(PostalCode);
          var f = new PostalCode();
        </highlight-code>
      </section>

      <section>
        <h3>異常値の扱い</h3>

        <ul>
          <li>異常値を認めるかどうかは結構悩む</li>
          <li>UI 層で Value Object を使わないなら認めなくていいかも</li>
          <li>省略したけど、エラーメッセージも取得できるとなおよし</li>
        </ul>
      </section>

      <section>
        <h3>インターフェイスを使うときの注意</h3>
      </section>

      <section>
        <h3>オートボクシング</h3>

        <highlight-code lang="csharp">
          public struct PeronalName : IName
          {
          }

          public struct CompanyName : IName
          {
          }
        </highlight-code>

        <highlight-code lang="csharp">
          // オートボクシングが発生
          // ラップされてヒープに配置される
          // 頻発すると大量のオブジェクトが作られてしまう
          IName name = new PersonalName("ばくはつ", "五郎");
        </highlight-code>
      </section>

      <section>
        <h3>クラスを使った方がいいかも</h3>
      </section>

      <section>
        <h3>同値の正しい実装</h3>
      </section>

      <section>
        <h3>オートボクシング...</h3>

        <highlight-code lang="csharp">
          public struct Quantity
          {
            public Quantity(decimal value)
            {
              _value = value;
            }
          }
        </highlight-code>

        <highlight-code lang="csharp">
          var a = new Quantity(15);
          var b = new Quantity(15);

          // Equals(object obj) なので、オートボクシングされる
          a.Equals(b);
        </highlight-code>
      </section>

      <value-object-code2></value-object-code2>

      <section>
        <h3>同値を実装しなくていいと言ったな?</h3>
        <h3>あれは嘘だ!</h3>
      </section>

      <section>
        <h3>めんどくさい?</h3>
        <h3>ReSharper なら実装を生成してくれるよ</h3>
      </section>

      <section>
        <h3>クラスで実装するときの注意</h3>
      </section>

      <section>
        <h3>これはアウト!</h3>

        <highlight-code lang="csharp">
          public class Quantity : IEquatable&lt;Quantity&gt;
          {
            public bool Equals(Quantity other)
            {
              if (other == null) return false;

              return _value == other._value;
            }

            /* その他省略 */
          }
        </highlight-code>

        <p><small>わかんない人は書籍 Effective C# を読もう!</small></p>
      </section>

      <section>
        <h3>DDD とかうんぬんの前に</h3>

        <h3>Value Object あたりから手を付けよう!</h3>

        <h3>それができるようになってから DDD にチャレンジ!</h3>
      </section>

      <section>
        <h3>Value Object の最大のメリットは</h3>

        <h3>仕様とコードを一致させられること</h3>

        <h3>コードから仕様が導出できるから、コードから仕様を読み取るのが楽!</h3>
      </section>

      <section>
        <h2>おまけ</h2>
      </section>

      <section>
        <h3>オペレーターオーバーロード</h3>
      </section>

      <section>
        <highlight-code lang="csharp">
          var unitPrice = new UnitPrice(150);
          var quantity = new Quantity(12.3);

          // カスタム型でもかけ算で書ける
          Price price = unitPrice * quantity;
        </highlight-code>

        <highlight-code lang="csharp">
          public struct UnitPrice
          {
            public static Price operator* (UnitPrice unitPrice, Quantity quantity)
            {
              return new Price(unitPrice._value * quantity.Value);
            }
          }
        </highlight-code>
      </section>

      <section>
        <h3>オペレーターオーバーロードでの注意</h3>
        <ul>
          <li><code>unitPrice.Multiple(quantity)</code> より分かりやすい</li>
          <li>ただし、コード補完の対象ではないことに注意</li>
          <li><strong>メソッドを提供した上でオペレーターオーバーロードを実装する</strong></li>
        </ul>
      </section>

      <section>
        <h3>型変換オーバーロード</h3>
      </section>

      <section>
        <highlight-code lang="csharp">
          public struct PostalCode
          {
            public static implicit operator PostalCode(string s)
            { // 文字列 -> Value Object の暗黙の型変換
              return PostalCode.Parse(s);
            }

            public static implict operator string(PostalCode code)
            { // Value Object -> 文字列 の暗黙の型変換
              return code.ToString();
            }
          }
        </highlight-code>

        <highlight-code lang="csharp">
          PostalCode code = "0123-4567"; // 文字列 -> Value Object
          string s = code; // Value Object -> 文字列
        </highlight-code>
      </section>

      <section>
        <h3>XML Library がこれを使ってる</h3>

        <highlight-code lang="csharp">
          var doc = XDocument.Load("foo.xml");
          var style = doc.Root.Attribute("style");

          // これと同じ
          var style = doc.Root.Attribute(XName.Get("style"));
        </highlight-code>
      </section>

      <section>
        <h3>あんまりお勧めしない</h3>

        <ul>
          <li>暗黙の型変換ははまりどころがある</li>
          <li>プリミティブ型を使われやすくなる</li>
        </ul>
      </section>

      <section>
        <h3>シリアライズ</h3>
      </section>

      <section>
        <ul>
          <li>データベースとのやり取り</li>
          <li>API で XML や JSON でのやり取り</li>
          <li>MVC コントローラーなどでの値の取得</li>
        </ul>
      </section>

      <section>
        <h3>値の変換</h3>
        <ul>
          <li><a href="https://docs.microsoft.com/ja-jp/dotnet/api/system.componentmodel.typeconverter">.NET 汎用</a></li>
          <li><a href="https://docs.microsoft.com/ja-jp/ef/core/modeling/value-conversions">Entity Framework Core</a></li>
          <li><a href="https://medium.com/dapper-net/custom-type-handling-4b447b97c620">Custom Type Handling</a> (Dapper)</li>
          <li>
            <a href="https://docs.microsoft.com/ja-jp/aspnet/core/mvc/advanced/custom-model-binding?view=aspnetcore-2.2">
              カスタム モデル バインド
            </a>
            (ASP.NET Core Controller)
          </li>
          <li>
            <a href="https://docs.microsoft.com/ja-jp/dotnet/standard/serialization/controlling-xml-serialization-using-attributes">
              属性を使用した XML シリアル化の制御
            </a>
          </li>
          <li>
            <a href="https://www.newtonsoft.com/json/help/html/JsonConverterAttributeClass.htm">
              JsonConverterAttribute on a class
            </a>
            (JSON)
          </li>
        </ul>
      </section>

      <section>
        <h3>属性ベースのシリアライズ定義</h3>

        <ul>
          <li>属性に書いてしまうと、EF Core を使わなくても依存が発生する</li>
          <li>使われない属性がじゃんじゃん増える...</li>
          <li>
            <strong>属性ベースではなく、別アセンブリで定義すること</strong>
            (特に ORM や MVC など)
          </li>
        </ul>

        <highlight-code lang="csharp">
          public class Rider
          {
            public int Id { get; set; }

            [Column(TypeName = "nvarchar(24)")]
            public EquineBeast Mount { get; set; }
          }
        </highlight-code>
      </section>

      <section>
        <h3>Value Object の捻じ曲げ</h3>

        <ul>
          <li>氏名のように複数の列にマップできる ORM は珍しい</li>
          <li>その他いろいろとシリアライザーでできないことが多い</li>
          <li>
            <strong>シリアライザーの機能が不足を理由に Value Object を捻じ曲げないように</strong>
          </li>
        </ul>
      </section>

      <section>
        <h3>Value Object の捻じ曲げ</h3>
        <p>
          あきらめが肝心
        </p>

        <highlight-code lang="csharp">
          var sql = "select * from Customers";

          var customers = connection.Query&lt;Builder&gt;(sql)
            .Select(row => row.ToCustomer());
        </highlight-code>

        <highlight-code lang="csharp">
          class Builder
          {
            public int CustomerId { get; set; }
            public string FirstName { get; set; }
            public string LastName { get; set; }
            public Customer ToCustomer()
            {
              // ここで変換処理を手書きする
            }
          }
        </highlight-code>
      </section>

      <section>
        <h2>お悩み</h2>
      </section>

      <section>
        <h3>内部の値を公開したくない</h3>

        <p>公開しなければいけないとき</p>

        <ul>
          <li>シリアライズ処理を型の外部に書く時</li>
          <li>単価と数量のようにお互いの計算が必要な時</li>
        </ul>
      </section>

      <section>
        <p>Java は package 修飾子で解決できるんだけどね...</p>
      </section>

      <section>
        <h3>ロジックをコントローラーでは使わせたくない...</h3>

        <highlight-code lang="csharp">
          public IActionResult Post(ProductId id, Quantity quantity)
          {
            var product = _products.Get(id);

            // こういうロジックはドメイン層に書くべきだと思ってる
            // でもコントローラーでも書けてしまう
            Price price = product.UnitPrice.Multiple(quantity);
          }
        </highlight-code>
      </section>

      <section>
        <h3>使わせたくないものは internal にすればいいのかな?</h3>
      </section>

      <section>
        <h3>ご清聴ありがとうございました!</h3>
      </section>
    </div>
  </div>
</template>

<script>
import PersonalNameCode1 from '@/components/PersonalNameCode1.vue';
import PersonalNameCode2 from '@/components/PersonalNameCode2.vue';
import PostalCodeCode2 from './components/PostalCodeCode2.vue';
import PostalCodeCode5 from './components/PostalCodeCode5.vue';
import PriceCode1 from './components/PriceCode1.vue';
import ValueObjectCode1 from './components/ValueObjectCode1.vue';
import ValueObjectCode2 from './components/ValueObjectCode2.vue';
import ObjectOrientedExercise from './components/ObjectOrientedExercise.vue';

export default {
  name: 'app',
  components: {
    ObjectOrientedExercise,
    ValueObjectCode2,
    ValueObjectCode1,
    PriceCode1,
    PostalCodeCode5,
    PostalCodeCode2,
    PersonalNameCode2,
    PersonalNameCode1,
  },
};
</script>

<style lang="scss">
  .reveal {
    h1, h2, h3, h4, h5, h6 {
      text-transform: unset !important;
    }
  }

  body {
    background-color: #0d0b31 !important;
  }
</style>
